<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1><%= page_title %></h1>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>Copyright &copy; <%= app_title %>. All Rights Reserved.</p>
    </footer>
  </body>
</html>
