<!DOCTYPE html>
<html>
<head>
  <%= title_tag(name: @post.try(:name)) %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= page_title %></h1>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <p>Copyright &copy; <%= app_title %>. All Rights Reserved.</p>
  </footer>
</body>
</html>
